{% for f in data %}
<div class="row daily">
  <img class="datapoint" src="{{ url_for('static', filename=f.icon+'.png') }}"
     alt="{{ f.icon }}"/>
  <div class="datapoint-info">
    <div class="datapoint-time">
      {{ (f.time + offset) | datefmt('day') }}
    </div>
    <div class="datapoint-description text-muted">
      {{ f.summary }}
    </div>
  </div>
  <h2 class="datapoint-temperature">
    {{ f.temperatureHigh | tempfmt -}}/{{- f.temperatureLow | tempfmt -}}
    <small class="text-muted align-text-top degrees">{{- TEMP_UNIT }}</small>
  </h2>
  {% if f.precipProbability %}  
  <h2 class="datapoint-precip col-2">
    {{ '%d%%' % (f.precipProbability * 100) -}}
  </h2>
  {% endif %}
</div>
{% endfor %}

