<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{- url_for('static', filename='bootstrap.min.css') -}}">
    <script src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"></script>
    <script src="{{- url_for('static', filename='moment.min.js') -}}" 
      type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" 
      href="{{- url_for('static', filename='style.css') -}}">
    <script type="text/javascript">
      function update_weather(){

        $('#currently').load('forecast/currently', function(){
          $('#daily-list').load('forecast/daily', function(){
            $('#alerts').load('forecast/alerts', function(){
              $.getJSON('forecast/precipitation', function(data){
                if (data > {{- precipThreshold -}}) {
                  var w = $(window).width();
                  $('#hourly-graph').attr('src', 'forecast/graph?&width=' + w + '&t=' + Math.random());
                  $('#hourly-list').html('');
                  $('#sensors').html('');
                  $('#sensors-alt').load('log/temperature');
                } else {
                  var h = $(window).height() - $('#currently').height() - $('#daily-list').height();
                  $('#hourly-graph').attr('src', 'static/blank.png');
                  $('#sensors').load('log/temperature');
                  $('#sensors-alt').html('');
                  $('#hourly-list').load('forecast/hourly?h=' + h);
                }
              });
            });
          });
        });
        
      }
      function update_clock(){
        $('#clock').html(moment().format(
          '[<h1 id="time" class="text-right">]h:mma[</h1>'+
          '<div id="date" class="text-right">]dddd, MMM Do[</div>]'));
      }
      $(document).ready(function(){
        setInterval("update_weather();", 1000 * 60 *  {{- updateFreq -}});
        setInterval("update_clock();", 1000 * 60);
        update_clock();
        update_weather();
      });
      
    </script>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="top">
        <div id="left" class="col-5 col-lg-6 col-xl-7">
          <div class="row">
            <div id="currently" class="col-12"></div>
          </div>
          <div class="row">
            <div id="hourly-list" class="col-10 col-lg-9 col-xl-8"></div>
          </div>
        </div>
        <div id="right" class="col-7 col-lg-6 col-xl-5">
          <div class="row">
            <div id="clock" class="col-12"></div>
            <br/>
            <div id="alerts" class="col-10 col-xl-8 offset-2 offset-xl-4"></div>
            <div id="sensors" class="col-12"></div>
          </div>
        </div>
      </div>
      <div class="row" id="middle">
        <img id="hourly-graph" src="" class="col-12"/>
      </div>
      <div class="row" id="bottom">
        <div id="daily-list" class="col-12 col-lg-5 col-xl-6"></div>
        <div id="sensors-alt" class="col-12 col-lg-6 offset-lg-1 col-xl-5 offset-xl-1">
        </div>
      </div>
    </div>
  </body>
</html>

