<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{- url_for('static', filename='bootstrap.min.css') -}}">
    <link rel="stylesheet" 
      href="{{- url_for('static', filename='jquery.datetimepicker.min.css') -}}">
    <script src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"></script>
    <script src="{{- url_for('static', filename='jquery.datetimepicker.full.min.js') -}}"
      type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" 
      href="{{- url_for('static', filename='style.css') -}}">
    <script type="text/javascript">
      $(document).ready(function(){
        $('#from').datetimepicker({
          inline:true,
          onChangeDateTime:function(ct){
            var w = $(window).width();
            $('#content').attr('src', 'log/graph?&width=' + w + '&start=' + Date.parse(ct)/1000 + '&end=' + Date.parse($('#to').datetimepicker('getValue'))/1000);
            $('#to').datetimepicker('setOptions', {
              minDate:$('#from').val()?$('#from').val():false
            });
            if (ct > $('#to').datetimepicker('getValue'))
              $('#to').datetimepicker('setOptions', {
                value:$('#from').val()
              });
          }
        });

        $('#to').datetimepicker({
          inline:true,
          onChangeDateTime:function(ct){
            var w = $(window).width();
            $('#content').attr('src', 'log/graph?&width=' + w + '&end=' + Date.parse(ct)/1000 + '&start=' + Date.parse($('#from').datetimepicker('getValue'))/1000);
          }
        });
        from = new Date();
        from.setDate(from.getDate() - 1);
        $('#from').datetimepicker('setOptions', {
          value:''+from.getFullYear()+'/'+(from.getMonth()+1)+'/'+from.getDate()+
            ' '+from.getHours()+':'+from.getMinutes()
        });
        to = new Date();
        $('#to').datetimepicker('setOptions', {
          value:''+to.getFullYear()+'/'+(to.getMonth()+1)+'/'+to.getDate()+
            ' '+to.getHours()+':'+to.getMinutes(),
          minDate:$('#from').val()
        });
        $('#to').datetimepicker('validate')
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">

      <br>
      <div class="row justify-content-center">
          <input id="from" type="text">
          <input id="to" type="text">
      </div>
      <br>
      <div class="row justify-content-center">
          <img src="static/blank.png" id="content"/>
      </div>
      
    </div>
  </body>
</html>

