body {
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #dddddd;
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.currently {
    font-size: 25pt;
}

img.currently {
    height: 130px;
    width: 130px;
    margin: 10px;
}

img.datapoint {
    height: 60px;
    width: 60px;
}

.datapoint-time {
    font-size: 20pt;
}

.hourly .datapoint-temperature, .hourly .datapoint-precip {
    font-size: 40pt;
}

.daily .datapoint-temperature, .daily .datapoint-precip {
    font-size: 20pt;
}

.datapoint-precip {
    color: #4082f2;
}

.datapoint-description {
    font-size: 15pt;
}

.current-temperature {
    font-size: 100pt;
}

#time {
    font-size: 85pt;
    height: 140px;
}

#date {
    font-size: 25pt;
}

#hourly-list, #daily-list {
    margin-top: 20px;
}

#middle {
    overflow: hidden;
}

