{% for f in data %}
<div class="row daily">
  <img class="datapoint" src="{{ url_for('static', filename=f.icon+'.png') }}"
     alt="{{ f.icon }}"/>
  <div>
    <div class="datapoint-time">
      {{ (f.time + offset).strftime('%A') }}
    </div>
    <div class="datapoint-description text-muted">
      {{ f.summary }}
    </div>
  </div>
  <h2 class="datapoint-temperature">
    {{ '%d/%d' % (f.temperatureHigh, f.temperatureLow) -}}
    <small class="text-muted align-text-top degrees">{{- '%s' % unit }}</small>
  </h2>
  <h2 class="datapoint-precip col-2">
    {{ '%d%%' % (f.precipProbability * 100) -}}
  </h2>
</div>
{% endfor %}

